h1 { text-align: center;
font-family: Purisa;

}
.cuadro{

  width: 250px;
  height: 150px;
  Border: 2px solid silver;
  background: deepskyblue;
  border-radius: 5px;

}
.botton {
  font-family: Purisa;
  text-align: center;
  color: black;
  padding: 5px 15px;
margin: 10px 0 0 75px ;

}
