
  <h1>Pokemonos</h1>

  <div >
        <form #ngformlogin = "ngForm" class= "cuadro">
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User" type="text" name="username" value="user" size="25" maxlength="30" [(ngModel)]=" user.username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="text" name="username" value="user" size="25" maxlength="30" [(ngModel)]=" user.password">
      </mat-form-field>
          <button mat-mini-fab routerLink="/home">Enviar</button>
          <br>
    </form>
  </div>

